.mh-100vh {
  min-height: 100vh;
}

#login-block {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.4);
  z-index: 2;
}

@media (max-width: 991.98px) {
  #login-block {
    opacity: .95;
  }
}

@media (max-width: 991.98px) {
  #bg-block {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius: 0 !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-50 {
    width: 50%;
  }
}

.partners {
  background-color: rgba(0,123,255,0);
  border: none;
  padding: 0px;
}

.btn-primary:hover {
  background-color: rgba(146,164,187,0);
}

@media (max-width: 710px) {
  #robot {
    display: none;
  }
}

.card.leaders:hover {
  opacity: 0.5;
  /*background-image: url("../../assets/img/path_171.png");*/
  /*background-position: center;*/
  /*background-size: contain;*/
  /*background-repeat: no-repeat;*/
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

@media (max-width: 767px) {
  .banner-draw {
    display: none;
  }
}

@media (max-width: 767px) {
  #intro-header {
    text-align: center;
    font-size: 7vw;
  }
}

@media (max-width: 767px) {
  .charts {
    display: none;
  }
}

@media (max-width: 767px) {
  #column-1 {
    order: 1;
  }
}

@media (max-width: 767px) {
  #column-2 {
    order: 2;
  }
}

.row > [class*='col-'] {
  margin-top: 4%;
}

.truncate {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  margin-right: -1em;
  padding-right: 1em;
  margin: 5% 0 30% 0;
}

.truncate:before {
  content: '. . .';
  position: absolute;
  right: 0px;
  bottom: 0;
}

.truncate:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.service_img {
  margin: 10% 0 10% 0;
}

@media (max-width: 767px) {
  #column_3 {
    order: 2;
  }
}

@media (max-width: 767px) {
  #column_2 {
    order: 3;
  }
}

@media (max-width: 767px) {
  #column_4 {
    order: 3;
  }
}

.footer_margin {
  padding: 0px;
  margin: 0px;
}

@media (max-width: 767px) {
  #section4 {
    display: none;
  }
}

@media (max-width: 767px) {
  #leader_col1 {
    order: 2;
  }
}

#leader_col2 {
  order: 1;
}

@media (min-width: 768px) {
  #intro-header, #section_0_heading1, #section_0_heading2, #section_1_heading, #section_2_heading, #section_3_heading, #section_4_heading, #section_5_heading, #service_heading {
    font-size: 4.2vw;
  }
}

@media (max-width: 767px) {
  #section_0_heading1, #section_0_heading2, #section_1_heading, #section_2_heading, #section_3_heading, #section_4_heading, #section_5_heading, #service_heading {
    font-size: 7vw;
  }
}

