@media (max-width: 576px) {
  #navcol-1 {
    background-color: black;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .navbar-light .navbar-nav .nav-link {
    text-align: center;
    color: rgb(255,255,255);
  }
}

@media (max-width: 767px) {
  #navcol-1 {
    background-color: black;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .navbar-light .navbar-nav .nav-link {
    text-align: center;
    color: rgb(255,255,255);
  }
}

@media (max-width: 300px) {
  .w-100.d-block.d-md-flex.d-xl-flex.justify-content-md-center.justify-content-xl-start {
    height: 275px;
    margin-top: 30px;
  }
}

